<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>weatherapp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E565BD2A1E8E9EDE00C1889B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E565BD431E8E9EDF00C1889B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E565BD4E1E8E9EDF00C1889B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
